* {
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  font-family: "Gayathri", sans-serif;
  font-family: "Noto Serif JP", serif;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  padding-top: 5%;
  z-index: -9999;
  background: rgba(30, 30, 30, 160);
}

nav {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-logo a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 30px;
  user-select: none;
}

.navigation-logo a:hover {
  font-size: 31px;
}

.navigation-menu {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

.navigation-menu > li {
  list-style: none;
  padding-left: 20px;
}

.navigation-menu a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-size: 18px;
}

.home-button {
  color: #ff6c6c;
  text-decoration: none;
  animation: border_animation infinite 5s;
}

.navigation-menu a:hover {
  color: #ff6c6c;
  animation: border_animation 3s 0.1s;
}

@keyframes border_animation {
  0% {
    border-bottom: 1px solid rgb(57, 99, 255);
  }
  25% {
    border-bottom: 1px solid #6784eb;
  }
  50% {
    border-bottom: 1px solid #ff6c6c;
  }
  75% {
    border-bottom: 1px solid #2c3866;
  }
  100% {
    border-bottom: 1px solid rgb(121, 13, 205);
  }
}

.border-style {
  width: 100%;
  padding-bottom: 150px;
  width: 80%;
}

.header-introduce {
  user-select: none;
}

.grid-width {
  padding: 0 13%;
}

.header-introduce .header-main-text {
  white-space: pre-line;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 5px;
  height: 64px;
}

#HCJImage {
  padding-left: 30%;
}
.header-sub-wrap {
  width: 100%;
  margin: 0 13%;
}

.header-sub-wrap .header-sub-text {
  white-space: pre-line;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 49px;
}

.contact-me-wrap {
  position: absolute;
}
.contact-me span {
  color: #fff;
}
.contact-me #cont {
  display: flex;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px;
  margin-right: 73%;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.5px;
  animation: contact_me_hover infinite 5s;
  transition: 0.3s;
  text-decoration: none;
  /* color: rgb(57, 99, 255);
    position: absolute;
    bottom:-10px;
    margin-left:15%;
    border: 1px solid rgb(121, 13, 205);
    padding: 5px;
    width: 15%;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1.5px;
    transition: width 1s; */
}

@keyframes contact_me_hover {
  0% {
    background: linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));
  }
  25% {
    background: linear-gradient(90deg, rgb(57, 99, 255) 0px, rgb(121, 13, 205));
  }
  50% {
    background: linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));
  }
  75% {
    background: linear-gradient(90deg, rgb(57, 99, 255) 0px, rgb(121, 13, 205));
  }
  100% {
    background: linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));
  }
}

.contact-me #cont:hover {
  /* border: 1px solid rgb(121, 13, 205); */

  background: linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));
  /* background:linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255)); */
  font-size: 15px;
  font-weight: 700;
  line-height: 44px;
  animation: contact_me_hover 0;
}

.sub-header-subject > span {
  display: block;
  padding-top: 320px;
  padding-left: 15%;
  color: black;
  font-size: 40px;
  font-weight: 450;
  line-height: 64px;
  text-align: left;
  margin-left: 1px;
}

.subject-list-wrap {
  padding-top: 20px;
}

.subject-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
/* haeder */

#back-to-top {
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: rgba(255, 255, 255, 0.9);
  color: #313943;
  border: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  opacity: 0;
  text-decoration: none;
  font-size: 0.75em;
}

#back-to-top:hover {
  background-color: #fff;
  padding: 1em 3em;
}

#back-to-top.visible {
  opacity: 1;
}
/* backtotop */
.triangle {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 100px;
}
.triangle.test_1 {
  border-top: 0;
  border-left: 0;
  border-bottom: 100px solid #bdbdbd;
  border-right: 100px solid rgba(30, 30, 30, 160);
}

/* triangle */

.section-wrap {
  background-color: #bdbdbd;
}

.subject-list {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
}

.skillWrap {
  display: flex;
  padding: 100px 0;
}

/* skills */
.fab {
  color: #f29661;
  font-size: 50px;
}

.skillWrap {
  position: relative;
}

.tip {
  position: absolute;
  top: 50%;
  padding: 1em;
  font-size: 0.8em;
  font-weight: normal;
  background: rgba(30, 30, 30, 160);
  border-radius: 1em;
  color: #fff;
  margin-left: 5px;
  display: none;
  margin-bottom: 1rem;
}

.javaScriptTip {
  top: 45%;
  margin-left: 20px;
}

.skillWrap div:hover .tip {
  display: inline;
  transition: 0.3s;
}
