* {
    box-sizing: border-box;
    margin:0 auto;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    font-family: 'Gayathri', sans-serif;
    font-family: 'Noto Serif JP', serif;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    height: 5000x;
    background: #e0e8f2 url(../svg/header1-bg.svg) no-repeat;
    padding-top: 5%;
    z-index: -9999;
    background-size: contain;
}

.header-container {
    width:100%
}


nav {
    display:flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 200px;
}  

#javaImg {
    position: absolute;
    top:58%;bottom:0;left:60%;
    user-select:none;
}

.navigation-logo a{
    text-decoration: none;
    color:#FFF;
    font-size:24px;
    user-select: none;
}


.navigation-menu {
    display:flex;
    justify-content: flex-end;

}

.navigation-menu > li {
    list-style: none;
    padding-left: 20px;
}

.navigation-menu a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    font-size: 18px;
}

.home-button {
    color: #FF6C6C;
    text-decoration: none;
    animation:border_animation infinite 5s;
}


.navigation-menu a:hover{
    color: #FF6C6C;
    animation:border_animation 3s 0.1s;
}

@keyframes border_animation {
    0% {border-bottom:1px solid rgb(57, 99, 255);}
    25%{border-bottom:1px solid #6784eb;}
    50%{border-bottom:1px solid #FF6C6C;}
    75%{border-bottom:1px solid #2c3866;}
    100% {border-bottom:1px solid rgb(121, 13, 205);}
    }


.header-introduce {
    padding-left:15%;
    user-select:none;
}
.header-introduce .header-main-text{
    white-space: pre-line;
    font-size:48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.header-introduce .header-sub-text {
    white-space: pre-line;
    color: hsla(0,0%,100%,.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 49px;
}
.contact-me-wrap {
    display:flex;
    flex:5;
    width:100%;
}

.contact-me{
    flex-direction: row;
    width:150px;
    border : 1px solid #fff;
    padding: 5px;
    margin-right:73%;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1.5px;
    animation:contact_me_hover infinite 5s;
    transition:.3s;
    /* color: rgb(57, 99, 255);
    position: absolute;
    bottom:-10px;
    margin-left:15%;
    border: 1px solid rgb(121, 13, 205);
    padding: 5px;
    width: 15%;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1.5px;
    transition: width 1s; */
}

@keyframes contact_me_hover {
    0% {background:linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));}
    25%{background:linear-gradient(90deg, rgb(57, 99, 255) 0px, rgb(121, 13, 205));}
    50%{background:linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));}
    75%{background:linear-gradient(90deg, rgb(57, 99, 255) 0px, rgb(121, 13, 205));}
    100% {background:linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));}
    }

.contact-me:hover{
    /* border: 1px solid rgb(121, 13, 205); */
    
    background:linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255));
    /* background:linear-gradient(90deg, rgb(121, 13, 205) 0px, rgb(57, 99, 255)); */
    font-size: 15px;
    font-weight: 700;
    line-height: 44px;
    animation:contact_me_hover 0;
}






.sub-header-subject > span{
    display:block;
    padding-top:320px;
    padding-left:15%;
    color:black;
    font-size:40px;
    font-weight: 450;
    line-height: 64px;
    text-align: left;
    margin-left:1px;
}

.subject-list-wrap{
    padding-top:20px;
}

.subject-list {
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
}
    /* haeder */